/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
}

.filters {
	width: auto;
	height: 96px;
	top: 725px;
	left: 624px;

	display: flex;
    justify-content: center;
    gap: 9px;

	font-family: Syne;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
}

.filtersbutton {
	width: 198px;
    height: 37px;
    top: 812px;
    left: 814px;
    border-radius: 60px;
    background: #FFFEF8;
    border: 1px solid;
    color: #1D6154;
    font-family: Syne;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.checkedfilter {
	background-color: #1D6154;
	color: #fff;
  }

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: #FFF;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/****** MODALE ******/

.custom-portfolio {
	width: 84px;
	height: 18px;
	top: 735px;
	left: 846px;
}

.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.modal-wrapper {

	overflow:auto;

	width:600px;

	padding:20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);

	background-color: #FFF;
}

/*CUSTOM Modal/Formulaire*/

.custom-title {
	top: 720px;
	left: 634px;

	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;


}

.gallery-modale {
    justify-content: flex-start;
	padding-left: 90px;
    display: grid;
    grid-template-columns: repeat(5, 87px);;
}

.gallery-picture {
    display: flex;
    flex-direction: row;
    width: calc(20% - 95px);
    margin-bottom: 20px;
}



.form-column {
    position: sticky;
    top: 175px;
    left: 405px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.img-picture {
    position: relative;
    width: 76.86px;
    height: 102.57px;
}
  

.trash-icon {
	position: relative;
    transform: translate(53px, -96px);
	color:#FFFFFF;
	z-index:1;
}

.trash-icon::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -5px; 
    width: 20px; 
    height: 20px; 
    background-color: black;
	z-index: -1;
}

.arrow-back {
	width: 21px;
	height: 21px;
	top: 686px;
	left: 435px;
	padding: 1px, 0px, 1.99px, 0px;

	background:none;
	border:none;
	font-size: larger;

}


.img-picture i {
    position: absolute;
    top: 96px;
    right: 169px;
}

.decoration-ligne {
	width: 420px;
    height: 0;
    position: absolute;
    top: 461px;
    left: 115px;
    border-top: 1px solid #B3B3B3;
    background-color: #B3B3B3;
}

.decoration-ligne-modal2 {
	width: 420px; 
	height: 0; 
	position: absolute; 
	top: 545px; 
	left: 92px; 
	border-top: 1px solid #B3B3B3; 
	background-color: #B3B3B3;
}


.custom-form{
    gap: 25px;
    position: sticky;
    top: 175px;
    left: 405px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.custom-title {
    top: 720px;
    left: 645px;
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

	padding-bottom: 20px;

}

.displayNone {
	display: none;
}

.custom-file-upload {
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    width: 420px;
    height: 169px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 118px;
    left: 73px;
    border-radius: 3px;
}

.custom-icon {
	width: 76px;
    height: 76px;
    font-size: xxx-large;
    position: absolute;
    top: 32px;
    left: 176px;
    color: #B9C5CC;
    padding: 9.5px, 3.93px, 6.88px, 3.93px;
    z-index: 0;
	}


#image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    z-index: 1;
}


.addpicture {
	width: 173px;
	height: 36px;

	position: sticky;
    top: 219px;
    left: 190px;
	cursor: pointer;

	border-radius: 50px;

	color: #306685;
	background-color: #CBD6DC;
	border: none;


	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;


}

.sizemax {
	width: 94px;
	height: 12px;
	
	position: sticky;
    top: 270px;
    left: 233px;

	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
}

.icon-close {
width: 24px;
height: 24px;

background-color: #FFF;
border: none;

position: sticky;
/*top: 686px;*/
left: 981px;

padding: 6px, 5.99px, 5.99px, 6px;

}

.titletext {
	width: 32px;
	height: 16px;

	position: sticky;
    top: 328px;
    left: 74px;

	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.titleproject {
	width: 420px;
	height: 51px;
	
	position: sticky;
    top: 118px;
    left: 73px;

	background: #FFFFFF;

	box-shadow: 0px 4px 14px 0px #00000017;
	border:none;
}

form h3 {
	width: 65px;
	height: 16px;
	
	position: sticky;
    top: 445px;
    left: 74px;

	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}


.categoriesproject {
	width: 420px;
	height: 51px;
	
	position: sticky;
    top: 118px;
    left: 73px;

	background: #FFFFFF;

	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;

	border-bottom: 5px;
}

.buttonvalidated {
	width: 237px;
	height: 36px;
	top: 1239px;
	left: 600px;
	border-radius: 60px;

}

/****** MENU LOGIN ******/

#bodylogin {
	width: 1440px;
	height: auto;
	background: #FFFEF8;
}

#bodylogin header {
	width: 1140px;
	height: 42px;
	flex-shrink: 0;
}

#bodylogin main {
	height: 696px;
	display: grid;
    place-items: center;
}

.error {
	color:red;
}

/******MENU LOGIN******/

#menu ul li {
	display: flex;
	width: 55px;
	height: 19px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}




/******MAIN LOGIN******/
#Login {
	width: 100%;
	height: 87%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:38px;
}



#Login form {
    flex-direction: column;
	display: grid;
    gap: 12px;
    text-align: center;
}

#Login label {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	display: flex;
}

#Login input[type="email"] {
	width: 379px;
	height: 51px;
	flex-shrink: 0;

	border: none;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#Login input[type="password"] {
	width: 379px;
	height: 51px;
	flex-shrink: 0;

	border: none;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#Login button[type="submit"] {
	width: 179px;
    height: 36px;

    
    color: white;

    font-family: Syne;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    border: none;
    border-radius: 60px;
    background: #1D6154;

    position: relative;
	left: 102px;
    top: 50%;
    transform: translateY(-50%);
}

#Login a {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;

	display: flex;
	justify-content: center;
}

